body {
	padding: 0;
	margin: 0;
}



.flex-container {
	display: flex;
	justify-content: center;
	overflow: hidden;
	box-sizing: border-box;
	width: 850px;
	height: 100vh;
	padding-bottom: 40px;
	margin: 0 auto;
	align-self: flex-end;
}

.items {
	align-items: flex-end;
	width: 100%;
	position: relative;
	display: flex;
    justify-content: space-evenly;
}

.flex-item {
	width: 135px;
	height: 300px;
	border-radius: 3px;
	transition: all 450ms;
	display: inline-block;
	z-index: 1;
	-webkit-box-shadow: -1px 55px 82px -30px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 55px 82px -30px rgba(0,0,0,0.75);
	box-shadow: -1px 55px 82px -30px rgba(0,0,0,0.75);
	background: #C9D6FF;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    position: relative;
	background: linear-gradient(to top, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.item__image > img {
	width: 100%;
    height: 130px;
	object-fit: cover;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.item__heading > h4 {
	text-align: center;
}

.item__descriptions {
	padding: 0 3px;
}

.item__descriptions > p {
	text-align: justify;
	font-size: 11px;
}

.item__link {
    border: 1px solid black;
    border-radius: 3px;
	margin-left: 3px;
	background: transparent;
}

.flex-item:nth-child(1){
	animation: move1 30s infinite linear;

}

.flex-item:nth-child(2){
	animation: move2 30s infinite linear;
} 

.flex-item:nth-child(3){
	animation: move3 30s infinite linear;
} 

.flex-item:nth-child(4){
	animation: move4 30s infinite linear;
}   
.flex-item:nth-child(5){
	animation: move5 30s infinite linear;
}

.items:hover .flex-item {
	animation-play-state: paused;
}

@keyframes move1 {
	0% {
        transform: translate(0) translateY(45px) scale(0.8);
    }
    20% {
        transform: translate(163px) translateY(0px)  scale(1.1);
    }
    40% {
        transform: translate(325px) translateY(0px)  scale(1.1);
    }
    60% {
        transform: translate(488px) translateY(0px)  scale(1.1);
    }
    80% {
        transform: translate(651px) translateY(45px) scale(0.8);
        z-index: 2;
    }

    100% {
        transform: translate(0) translateY(45px) scale(0.8);
    }
}

@keyframes move2 {
	0% {
        transform: translate(0) translateY(0px) scale(1.1);
    }
    20% {
        transform: translate(163px) translateY(0px)  scale(1.1);
    }
    40% {
        transform: translate(325px) translateY(0px) scale(1.1);
    }
    60% {
        transform: translate(488px) translateY(45px) scale(0.8);
    }
    80% {
        transform: translate(-163px) translateY(45px) scale(0.8);
    }

    100% {
        transform: translate(0) translateY(0px)  scale(1.1);
    }
}

@keyframes move3 {
	0% {
        transform: translate(0) translateY(0px) scale(1.1);
    }

    20% {
        transform: translate(163px) translateY(0px)  scale(1.1);
        z-index: 3;

    }

    40% {
        transform: translate(325px) translateY(45px)  scale(0.8);
    }

    60% {
        transform: translate(-325px) translateY(45px)  scale(0.8);
        z-index: -3;

    }

    80% {
        transform: translate(-163px) translateY(0px) scale(1.1);
        z-index: 2;
    }

    100% {
        transform: translate(0) translateY(0px) scale(1.1);
    }
}

@keyframes move4 {
	0% {
        transform: translate(0) translateY(0px) scale(1.1);
    }

    20% {
        transform: translate(163px) translateY(45px) scale(0.8);
        z-index: -2;
    }

    40% {
        transform: translate(-488px) translateY(45px)  scale(0.8);
    }

    60% {
        transform: translate(-325px) translateY(0px) scale(1.1);
        z-index: 3;
    }

    80% {
        transform: translate(-163px) translateY(0px)  scale(1.1);
        z-index: 3;
    }

    100% {
        transform: translate(0) translateY(0px) scale(1.1);
    }
}

@keyframes move5 {
	0% {
        transform: translate(0) translateY(45px) scale(0.8);
        z-index: -1;
    }

    20% {
        transform: translate(-651px) translateY(45px) scale(0.8);
        
    }

    40% {
        transform: translate(-488px) translateY(0px) scale(1.1);
        
    }

    60% {
        transform: translate(-325px) translateY(0px)  scale(1.1);
        
    }

    80% {
        transform: translate(-163px) translateY(0px) scale(1.1);
        /* z-index: 2; */
    }

    100% {
        transform: translate(0) translateY(45px) scale(0.8);
        z-index: 2;
    }
}

