$base : #F7F6F0;
$darken : darken(#F7F6F0 , 30%);
$back: darken(#F7F6F0, 40%);
$primaryFont: 'Titillium Web', sans-serif;
$primaryTrans: all 200ms ease-in-out;
$primaryBorderRadious: 3px;


$headerSectionColor: #87509c;
$servicesWeProvideColor: #17c2a4;
$meetTeamColor: #e7f1f8;
$weGotSkillsColor: #ffffff;
$portfolioColor: #ffdd99;
$aboutUsColor: #d74680;
$contactColor: #3c5499;