@mixin underline {
    content: "";
    width: 84px;
    height: 3px;
    background: #000;
    opacity: .15;
    display: inline-block;
    position: absolute;
    bottom: -35px;
    left: calc(50% - 42px);
}

@mixin heading {
    text-align: center;
    font-family: $primaryFont;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: relative;
}

@mixin descriptions {
    text-align: center;
    font-family: $primaryFont;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.36px;
    margin-bottom: 50px;
}